NonCSLA.WinFormUI/Service References/ServiceReference1/RandomNumbers.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RandomNumbers" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IRandomNumbers_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://127.0.0.1:81/RandomNumbers.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://127.0.0.1:81/RandomNumbers.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://127.0.0.1:81/RandomNumbers.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NonCSLA.WebRole" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRandomNumbers_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IRandomNumbers_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IRandomNumbers_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IRandomNumbers_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IRandomNumbers_GetNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNumber" />
  </wsdl:message>
  <wsdl:message name="IRandomNumbers_GetNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNumberResponse" />
  </wsdl:message>
  <wsdl:portType name="IRandomNumbers">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IRandomNumbers/GetData" message="tns:IRandomNumbers_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRandomNumbers/GetDataResponse" message="tns:IRandomNumbers_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IRandomNumbers/GetDataUsingDataContract" message="tns:IRandomNumbers_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRandomNumbers/GetDataUsingDataContractResponse" message="tns:IRandomNumbers_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/IRandomNumbers/GetNumber" message="tns:IRandomNumbers_GetNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRandomNumbers/GetNumberResponse" message="tns:IRandomNumbers_GetNumber_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IRandomNumbers" type="tns:IRandomNumbers">
    <wsp:PolicyReference URI="#WSHttpBinding_IRandomNumbers_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap12:operation soapAction="http://tempuri.org/IRandomNumbers/GetData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap12:operation soapAction="http://tempuri.org/IRandomNumbers/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNumber">
      <soap12:operation soapAction="http://tempuri.org/IRandomNumbers/GetNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RandomNumbers">
    <wsdl:port name="WSHttpBinding_IRandomNumbers" binding="tns:WSHttpBinding_IRandomNumbers">
      <soap12:address location="http://127.0.0.1:81/RandomNumbers.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://127.0.0.1:81/RandomNumbers.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>